body { 
    width: 100%;
    position: fixed; 
    z-index: 2000;
    display: flex;
    justify-content: space-between;
}
img {
    padding: 3em;
    width: 30%;
    height: 30%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
li {
    padding: 1em;
    list-style-type: none;

}