.tips-screen {
    width: 100%;
    height: 100%;
    position: fixed; 
    margin: auto;  
    overflow: scroll; overflow-x:hidden;
    background-color: rgb(31, 31, 31)
}
.text_header{
    color: seashell;
}
