.home-screen {
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91%;
    background-color: rgb(31, 31, 31);
    overflow: scroll;
}

.home-screen-welcome {
    text-align: center;
    margin-top: 2rem;
    
}

.home-screen-text-wrapper {
    text-align: center;
    color: seashell;
    h1{
        font-size: 44px;
    }
}

// Spinner scss
.home-screen-spinners {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .spinner-wrapper {
        position:relative; 
        margin-bottom: 7px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        width: 250px;
        height: 250px;
        padding: 1em;
       
    }
}

.spinner-container{
    position: absolute;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

svg{
    &.radial-progress {
        position: relative;
        height: 100%;
        width: 100%;
        transform: rotate(-90deg);
        
        circle {
            fill: rgba(0,0,0,0);
            stroke: rgb(58, 174, 216);
            stroke-dashoffset: 565.486677646; 
            stroke-width: 20;
            stroke-linecap: round;

            &.circle-shadow { 
                opacity: 0.25;
            }
            &.circle-complete { 
                stroke-dasharray: 565.486677646; 
            }

        }

        text{
            fill: rgb(0, 0, 0);
            text-anchor: middle;
        }

        &#radial-progress-2 circle{
            stroke-dashoffset: 439.822971503;
            stroke-width: 15;
            stroke: rgb(247, 221, 114);

            &.circle-complete {
                stroke-dasharray: 439.822971503;
            }
        }

        &#radial-progress-3 circle{
            stroke-dashoffset: 326.725635973;
            stroke-width: 13;
            stroke: rgb(93, 211, 158);

            &.circle-complete {
                stroke-dasharray: 326.725635973;
            }
        }
    }
}


// Scores scss
.spinner-scores-wrapper{
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;


    .liikunta-scores{
        font-size: 13px;
    }
    #liikuntaScoresID {
        .mat-expansion-panel{
            background-color: rgb(93, 211, 158);
        }
        #mat-expansion-panel-header-0{
            background-color: rgb(93, 211, 158);
        }
    }
    #ruokailuScoresID {
        .mat-expansion-panel{
            background-color: rgb(247, 221, 114);
        }
        #mat-expansion-panel-header-1{
            background-color: rgb(247, 221, 114);
        }
        #AddRuokaBtn{
            padding: 0;
        }
        #AddRuokaBtn2 {
            margin-left: 7px;
            padding: 0;
        }
    }
    #nukkuminenScoresID {
        &.nukkuminen-scores {
            margin-bottom: 2rem;
        }
        .mat-expansion-panel{
            background-color: rgb(58, 174, 216);
        }
        #mat-expansion-panel-header-2{
            background-color: rgb(58, 174, 216);
        }
    }
}

// todo säädä kaikki toimimaan isoimmilla näytöillä
@media(min-width: 760px){
    // old
    .home-Card{
        max-width: 600px;
        min-height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;

    }

}

@media(max-width: 760px){
    .home-screen-text-wrapper{
        max-width: 100%;
    }
}


