<div class="home-screen">

    <div class="home-screen-welcome">
        <div class="home-screen-text-wrapper">
            <h1>Hei User</h1>
        </div>
    </div>

    <div class="home-screen-spinners">
        <div class="spinner-wrapper">
            <div class="spinner-container">
                <svg class="radial-progress" id="radial-progress-1" width="250" height="250">
                    <circle class="circle-shadow" cx="125" cy="125" [attr.r]="sleepRadi"></circle>
                    <circle class="circle-complete" id="circle-complete-1" cx="125" cy="125" [attr.r]="sleepRadi" style="stroke-dashoffset: 565.486677646;"></circle>
                </svg>
                <!--<text class="percentage" x="50%" y="50%">82%</text> -->
            </div>
    
            <div class="spinner-container">
                <svg class="radial-progress" id="radial-progress-2" width="250" height="250">
                    <circle class="circle-shadow" cx="125" cy="125" [attr.r]="eatRadi"></circle>
                    <circle class="circle-complete" id="circle-complete-2" cx="125" cy="125" [attr.r]="eatRadi" style="stroke-dashoffset: 439.822971503;"></circle>
                </svg>
            </div>
    
            <div class="spinner-container">
                <svg class="radial-progress" id="radial-progress-3" width="250" height="250">
                    <circle class="circle-shadow" cx="125" cy="125" [attr.r]="stepsRadi"></circle>
                    <circle class="circle-complete" id="circle-complete-3" cx="125" cy="125" [attr.r]="stepsRadi" style="stroke-dashoffset: 326.725635973;"></circle>
                </svg>
            </div>
        </div>
    </div>
    
    <div class="spinner-scores-wrapper">

        <div class="liikuta-scores" id="liikuntaScoresID">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Liikunta
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Päivän tavoite: <p [innerHTML]='liikuntaScores' style="display: inline"></p></span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>                   
                     <br>
                    <button mat-raised-button id="AddLiikuntaBtn">lisää</button>
                </mat-expansion-panel>
            </mat-accordion> 
        </div>

     <br>

        <div class="ruokailu-scores" id="ruokailuScoresID">
            <mat-accordion >
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Ruokailu
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Päivän tavoite: <p [innerHTML]='ruokaScores' style="display: inline"></p></span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                     <br>
                    <button mat-raised-button id="AddRuokaBtn">Lisää</button>
                    <button mat-raised-button id="AddRuokaBtn2" (click)="addPhotoToGallery()">Kamera</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

     <br>

        <div class="nukkuminen-scores" id="nukkuminenScoresID">
            <mat-accordion >
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Nukkuminen
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Päivän tavoite: <p [innerHTML]='nukkumisScore' style="display: inline"></p></span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                     <br>
                    <button mat-raised-button id="addNukkuminenBtn">lisää</button>
                </mat-expansion-panel>
            </mat-accordion>    
        </div>
            
    </div>
</div>








<!--

        <div class="home-screen-spinners-wrapper">
            <mat-progress-spinner id="spinneri1" color="warn"
            [value]="spinner1" 
            diameter="200" 
            strokeWidth="12"
            style="position:absolute; top:10px;"
            >
            </mat-progress-spinner>
            <mat-progress-spinner id="spinneri2" color="accent"
            [value]="spinner2" 
            diameter="170" 
            strokeWidth="12"
            style="position:absolute; top:25px;"
            ></mat-progress-spinner>
            <mat-progress-spinner id="spinneri3"
            [value]="spinner3" 
            diameter="140" 
            strokeWidth="12"
            style="position:absolute; top:40px;"
            ></mat-progress-spinner>
        </div>


    Vanhaa varmuudeksi säästössä

    <div class="mat-h1">Liikunta
            <div class="liikunta-scores">
                <span [innerHTML]='liikuntaScores' ></span>
            </div>
    </div>

    <div class="mat-h1">Ruokailu
            <div class="ruokailu-scores">78/100</div>
    </div>

        
    <div class="mat-h1">Nukkuminen
            <div class="nukkuminen-scores">43/100</div>
    </div>

    Vanha tapa, tein mat-cardilla <-- säästin jos todetaankin paremmaksi

    <mat-card class="home-Card">
    <mat-card-header>
        <mat-card-title>Hei User</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div style="position:relative; width:100%; height:220px">
        <mat-progress-spinner id="#spinneri1"
        [value]="spinner1" 
        diameter="200" 
        strokeWidth="12"
        style="position:absolute; top:10px; left:45px"
        >
        </mat-progress-spinner>
        <mat-progress-spinner id="#spinneri2"
        [value]="spinner2" 
        diameter="170" 
        strokeWidth="12"
        style="position:absolute; top:25px; left:60px"
        ></mat-progress-spinner>
        <mat-progress-spinner id="#spinneri3"
        [value]="spinner3" 
        diameter="140" 
        strokeWidth="12"
        style="position:absolute; top:40px; left:75px"
        ></mat-progress-spinner>  
    </div>
    <mat-divider></mat-divider>
    <div class="mat-title">Liikunta:</div>
    <div class="mat-title">Ruokailu:</div>
    <div class="mat-title">Nukkuminen:</div>

</mat-card>

-->



<!--

    Voi ehkä käyttää jossain?

<div class="week-Prog">
    <button mat-mini-fab>Ma</button>
    <button mat-mini-fab>Ti</button>
    <button mat-mini-fab>Ke</button>
    <button mat-mini-fab>To</button>
    <button mat-mini-fab>Pe</button>
    <button mat-mini-fab>La</button>
    <button mat-mini-fab>Su</button>
</div>
-->


<!--  

<div class="homePage" id="wrappingDiv">
    <div class="terppiMid">
        <h1 id="homeTerppi">Terppi</h1>
    </div>       
</div>

    Keksikää miten käyttää tätä

    <mat-progress-spinner class="spinneriWrapperi" id="#spinneri1"
        [value]="spinner1" 
        diameter="350" 
        strokeWidth="12"
        style="top:0px; left:-106px" ylä
        >
        </mat-progress-spinner>
        <mat-progress-spinner class="spinneriWrapperi" id="#spinneri2"
        [value]="spinner2" 
        diameter="320" 
        strokeWidth="10"
        style="top:-335px; left:-92px"
        ></mat-progress-spinner> 

Alkuperäiset style arvot
        ylä:
position:absolute; top:0px; left:0px
        ala:
position:absolute; top:15px; left:15px

    
    -->
